html{
    background-color: orange;
    position: relative;
}

body{
    margin: 0 auto;
    width: 50vw;
}

header h1{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0.4em;
    margin-top: 0.2em;
    color:royalblue;
}

#board{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#block{
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    inset: 0;
    visibility: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
}

#block h1{
    color: white;
    width: 50vw;
    text-align: center;
    line-height: 1.5em;
    font-size: 4rem;
}

#player1{
    width: 20vw;
    height: 20vw;
    position: absolute;
    background-color: turquoise;
    left: 2.5vw;
    border-radius: 100%;
    top: 30vh;
    display: grid;
}

#player2{
    width: 20vw;
    height: 20vw;
    position: absolute;
    background-color: firebrick;
    right: 2.5vw;
    border-radius: 100%;
    top: 30vh;
    display: grid;
}

aside{
    justify-items: center;
    align-items: center;
}

aside h1{
    font-size: 4rem;
    text-align: center;
    color: rgb(99, 146, 60);
}

@media (orientation: portrait){
    #block{
        visibility: visible;
    }
}

@media (max-height: 800px){
    aside h1{
        font-size: 2.5rem;
    }
}

footer{
    display: grid;
    justify-content: center;
    align-items: center;
}

button{
    width: 30vw;
    height: 5vh;
    margin-top: 4vh;
    background-color:violet;
    border-radius: 1em;
    cursor: pointer;
    visibility: hidden;
}

.circle{
    cursor: pointer;
}