header h1{
    text-align: center;
    height: 10vh;
    margin-top: 0;
    font-size: 4rem;
    margin-bottom: 0;
    color:rgba(231, 78, 78, 0.856)
}

html{
    background-image: url("../img/mario.jpg");
    background-repeat: repeat-x;
    background-size: auto 100vh;
    background-position: center top;
    background-color: burlywood;
}

.block{
    background-image: url(../img/block.png);
}

.row{
    display: flex;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.block:hover{
    opacity: 0.7;
}

.num{
    color: black;
    font-weight: bolder;
}

.bomb{
    visibility: hidden;
}

main{
    display: flex;
    justify-content: center;
}

#extra{
    position: relative;
    right: 1vw;
}

#extra h1{
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

#flag-icon{
    display: block;
    cursor: grab;
    margin: 0 auto;
}

.flag{
    position: absolute;
}

#btn{
    width: 50%;
    height: 10%;
    font-size: 2rem;

}

#btn:active{
    transform: scale(0.75);
}

#flagBox div{
    text-align: center;
}

#difficulty{
    margin-top: 2vh;
}

#difficulty div{
    text-align: center;
}
select{
    font-size: 1.5rem;
}

#ez{
    background-color: lightgreen;
}

#M{
    background-color: yellowgreen;
}

#H{
    background-color: yellow;
}

#E{
    background-color: orange;
}

#I{
    background-color: red;
}